<div class="wrapper">

	<aside class="thumbnail dc1">
		<p>P1 Bacon ipsum dolor amet picanha sirloin landjaeger salami brisket. Drumstick bacon ball tip brisket ribeye pork chop. Ground round andouille beef, cow chuck pork meatloaf flank pork loin meatball spare ribs shoulder ribeye corned beef. Venison kevin filet mignon hamburger frankfurter, short loin turkey drumstick ribeye beef fatback ground round shoulder prosciutto. 
		</p>
		
		<p>landjaeger salami brisket. Drumstick bacon ball tip brisket ribeye pork chop. Ground round andouille beef, cow chuck pork meatloaf flank pork loin meatball spare ribs shoulder ribeye corned beef. Venison kevin filet mignon hamburger frankfurter, short loin turkey drumstick ribeye beef fatback ground round shoulder prosciutto.</p>
	</aside>

	<article class="main dc2">	
		<h1>Red</h1>
		
		<p>P2 Bacon ipsum dolor amet picanha sirloin landjaeger salami brisket. Drumstick bacon ball tip brisket ribeye pork chop. Ground round andouille beef, cow chuck pork meatloaf flank pork loin meatball spare ribs shoulder ribeye corned beef. Venison kevin filet mignon hamburger frankfurter, short loin turkey drumstick ribeye beef fatback ground round shoulder prosciutto. </p>
	</article>	
</div>
