<!-- Introduction -->

	<article class="makethings-intro">
		<h1>Section: Make things</h1>

		<p>P1 Bacon ipsum dolor amet picanha sirloin landjaeger salami brisket. Drumstick bacon ball tip brisket ribeye pork chop. Ground round andouille beef, cow chuck pork meatloaf flank pork loin meatball spare ribs shoulder ribeye corned beef. Venison kevin filet mignon hamburger frankfurter, short loin turkey drumstick ribeye beef fatback ground round shoulder prosciutto. 
		</p>
		
		<p>landjaeger salami brisket. Drumstick bacon ball tip brisket ribeye pork chop. Ground round andouille beef, cow chuck pork meatloaf flank pork loin meatball spare ribs shoulder ribeye corned beef. Venison kevin filet mignon hamburger frankfurter, short loin turkey drumstick ribeye beef fatback ground round shoulder prosciutto.</p>
	</article>

<!-- Services offered -->
<div class="flex-group">
	<div class="flex-container flex--center">
		<article class="col-1 flex-item flex-services">	
			<img src="https://unsplash.it/150/150" alt="">
			<p>P2 Bacon ipsum dolor amet picanha sirloin landjaeger salami brisket. Drumstick bacon ball tip brisket ribeye pork chop. Ground round andouille beef, cow chuck pork meatloaf flank pork loin meatball spare ribs shoulder ribeye corned beef. Venison kevin filet mignon hamburger frankfurter, short loin turkey drumstick ribeye beef fatback ground round shoulder prosciutto. </p>
		</article>	
		<article class="col-1 flex-item flex-services">	
			<img src="https://unsplash.it/150/150" alt="">
			<p>P2 Bacon ipsum dolor amet picanha sirloin landjaeger salami brisket. Drumstick bacon ball tip brisket ribeye pork chop. Ground round andouille beef, cow chuck pork meatloaf flank pork loin meatball spare ribs shoulder ribeye corned beef. Venison kevin filet mignon hamburger frankfurter, short loin turkey drumstick ribeye beef fatback ground round shoulder prosciutto. </p>
		</article>
		<article class="col-1 flex-item flex-services">	
			<img src="https://unsplash.it/150/150" alt="">
			<p>P2 Bacon ipsum dolor amet picanha sirloin landjaeger salami brisket. Drumstick bacon ball tip brisket ribeye pork chop. Ground round andouille beef, cow chuck pork meatloaf flank pork loin meatball spare ribs shoulder ribeye corned beef. Venison kevin filet mignon hamburger frankfurter, short loin turkey drumstick ribeye beef fatback ground round shoulder prosciutto. </p>
		</article>
	</div>

<!-- Portfolio -->

	<div class="flex-container portfolio">
		<div class="flex-item">	
			<img src="https://unsplash.it/200/200" alt="">
		</div>	
		<div class="flex-item">	
			<img src="https://unsplash.it/200/200" alt="">
		</div>
		<div class="flex-item">	
			<img src="https://unsplash.it/200/200" alt="">
		</div>
		<div class="flex-item">	
			<img src="https://unsplash.it/200/200" alt="">
		</div>
	</div>

</div>

